@include mediaSm {
    main{

        background:$mobile-image ;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
             
       .text-part{
        flex:1;
       text-align: center;
         margin:0px;

        h1.lg-heading{
         font-size:1rem;
            }
         p{
             font-size:1rem;
         

    }
}
    }
}
@include mediaMd {

     
    main{
        height: 100%;
        width:100%;
        flex-flow: column-reverse;
        background-position:0px -300px;
        
       .text-part{
           flex:1;
          text-align: center;
          width:100%;
          margin:0px;

           h1.lg-heading{
            padding-top:2rem;
            font-size:2.5rem;
               }
            p{
                font-size:1rem;
            }
       }
       .img{
         background:url(../images/bg-intro-desktop.svg);
         position:relative;
         width:100%;
         text-align: center;

         flex:1;
           img{
               margin:0 auto;
               position: static;;
               width:65%;
               transform:translateY(-20%);      
           }
       }
    }
    #section-2 {
        text-align: center;
        .boxes{
            width:100%;
          grid-template-columns: 1fr;

        }
       
      }
   
      #section-3{
        width:100%;
        text-align: center;
        margin:0 auto;

      .cards{
          grid-template-columns: 1fr;
           margin:0 auto;
         
      }
   }
   #footer{
    padding-bottom:0.1rem;
    flex-flow:column;    
    min-height:500px;
    margin:0 auto;

    .logo-social{
        flex-flow: column;
        .logo{
            margin:40px 0px 0px 30px;

        }
        .social{
            margin-left:50px;
            a{
                padding-bottom:0px;
                margin:0px 8px 0px 0px;
            }
        }
    }


     nav{
         flex-flow:column;
         align-items: center;
         text-align: center;
         ul{
             li{
                 margin:0px;
                 
             }
     
         }
     }
     .button{
       
          padding:10px 0px;
          width:100%;
          text-align: center;
          margin-left:30px;
         
     }
   }

   
   
}
@include mediaXL {

 
}
@include mediaLg {
    #home{
        width:100%;
        height:50vh;
       .text-part{
           h1.lg-heading{
            font-size:3rem;

           }
           p{
            font-size:1rem;
        }
       }
     .img{
         img{
            position:absolute;
            width:50%;
            right: 0px;
            top:-60px;

         }
     }
    }
    #section-2{
        text-align: center;
        .boxes{
            grid-template-columns: repeat(2,1fr);
         }

    }
    #section-3{
        .cards {
            grid-template-columns: repeat(2,1fr);
        }
    }
    
  
}